.list-design {
    border: 3px solid #218b6f;
    border-radius: 30px;
    overflow: hidden;
    margin: 10px auto;
    max-width: 700px;
}

.titulo-lista {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px;
    text-align: center;
    color: #ffffff;
}

.warn-box {
    background: #c23434;
    border: 2px solid #000000;
    border-radius: 30px;
    margin: 15px auto;
    max-width: 400px;
    font-weight: bold;
    color: #000000
}

.botones-fila {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 16px;
  flex-wrap: wrap;
}

.login-button {
  width: auto;
  max-width: 100px;
  flex: 1;
  margin: center;
  min-height: 50px;
  min-width: 150px;
  --background: #30cba1;
  --color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  --font-weight: bold;
  
  --border-width: 3px;
  --border-style: solid;
  --border-color: #218b6f;
  --border-radius: 20px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 400px) {
  .botones-fila {
    flex-direction: column; /* Apila verticalmente */
    align-items: center; /* Mantiene centrado */
  }
  
  .login-button {
    width: 100%; /* Ocupa todo el ancho disponible */
    max-width: 200px; /* Máximo ancho en móviles */
  }
}

* {
  text-decoration: none !important;
}