#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


ion-content {
  --background: #0e7787;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ficha-titulo {
  font-size: 1.2rem;
  font-weight: bold;
  color: #555;
  margin-top: 10px;
}

.perfil-header {
  --background: var(--ion-color-primary); 
  color: var(--ion-color-primary-contrast); 

  ion-item {
    --background: transparent; 
  }
  ion-card-title,
  ion-card-subtitle {
    color: #ffffff !important;
  }
}

.tarjeta-clara {
    border: 2px solid #181d1c;
    border-radius: 8px;
    overflow: hidden;
    margin: 16px;
}

ion-content {
  --background: var(--ion-color-light);
}

.borde-verde {
  --border-color: var(--ion-color-success);
}


