.perfil-header {
  --background: linear-gradient(135deg, #30cba1 0%, #1495a3 100%); 
  color: #000000;
  border: 3px solid #218b6f;
  border-radius: 50px;
  width: 100%;
  max-height: 150px;
  margin: 0;

  ion-item {
    --background: transparent;
    width: 100%;
  }
  ion-card-title,
  ion-card-subtitle {
    color: #ffffff !important;
  }
}